html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  list-style: none;
  font-size: 0.9rem;
}
li a {
  display: grid;
  padding: 2rem;
  color: #4caf50;
}
figure {
  margin: 0.8rem;
  color: #4caf50;
  /* padding:0; */
}
img {
  width: 50%;
}

p {
  color: gray;
}
a {
  text-decoration: none;
}
footer {
  color: rgb(234, 194, 142);
}
