.fcard {
  color: green;
}
.card {
  color: #6c6f70;
  text-decoration: none;
}
.scard {
  color: rgb(8, 70, 8);
}
.thcard {
  color: rgb(107, 162, 107);
}
.social a {
  width: max-content;
  color: #333;
  font-size: 14px;
  text-decoration-line: underline;
}

@media (300px <= width) {
  .container {
    width: 850px;
    margin: auto;
  }
}
